@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?cladbc');
  src: url('fonts/icomoon.eot?cladbc#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?cladbc') format('truetype'), url('fonts/icomoon.woff?cladbc') format('woff'), url('fonts/icomoon.svg?cladbc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
body {
  background-image: url(image/bg.jpg);
  background-size: cover;
  padding: 100px;
}
body .login {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  width: 85%;
  height: 500px;
  display: flex;
}
body .login .welcome {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: #fff;
}
body .login .welcome .w_head {
  padding: 30px;
  font-size: 28px;
  flex: 8;
}
body .login .welcome .w_body {
  flex: 9;
  padding: 30px;
}
body .login .welcome .w_body .tit,
body .login .welcome .w_body .sen {
  transition: all 0.5s;
  font-weight: bold;
  font-size: 38px;
  margin: 0 !important;
  cursor: pointer;
}
body .login .welcome .w_body .tit:hover,
body .login .welcome .w_body .sen:hover {
  color: #bebebe;
  transform: scale(1);
}
body .login .welcome .w_body::after {
  letter-spacing: 5px;
  color: #fff;
  font-size: 20px;
  content: '\e90c  \e90d  \e90e  \e90f';
  font-family: 'icomoon';
}
body .login .reg {
  padding-right: 80px;
  position: relative;
  height: 100%;
  flex: 1;
}
body .login .reg .lo,
body .login .reg .lo_1 {
  width: 370px;
  height: 100%;
  padding-right: 80px;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  display: flex;
  flex: 7;
}
body .login .reg .lo .l_head,
body .login .reg .lo_1 .l_head {
  padding-top: 60px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  flex: 2;
}
body .login .reg .lo .l_body,
body .login .reg .lo_1 .l_body {
  flex: 9;
  padding: 10px 40px;
}
body .login .reg .lo .l_body .in_1,
body .login .reg .lo_1 .l_body .in_1,
body .login .reg .lo .l_body .in_2,
body .login .reg .lo_1 .l_body .in_2 {
  position: relative;
  height: 45px;
  border-bottom: 3px solid #fff;
}
body .login .reg .lo .l_body .in_1 span,
body .login .reg .lo_1 .l_body .in_1 span,
body .login .reg .lo .l_body .in_2 span,
body .login .reg .lo_1 .l_body .in_2 span {
  color: #fff;
  font-size: 19px;
  transition: all 0.4s;
  position: absolute;
  top: 11px;
  left: 0;
}
body .login .reg .lo .l_body .in_1 input,
body .login .reg .lo_1 .l_body .in_1 input,
body .login .reg .lo .l_body .in_2 input,
body .login .reg .lo_1 .l_body .in_2 input {
  font-size: 18px;
  width: 100%;
  height: 100%;
  list-style: none;
  border: 0;
  outline: none;
  color: #fff;
  background-color: rgba(102, 102, 102, 0);
}
body .login .reg .lo .l_body .acp,
body .login .reg .lo_1 .l_body .acp {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
  height: 45px;
}
body .login .reg .lo .l_body .acp a,
body .login .reg .lo_1 .l_body .acp a {
  color: #fff;
  text-decoration: none;
  float: right;
}
body .login .reg .lo .l_body .btn,
body .login .reg .lo_1 .l_body .btn {
  box-sizing: border-box;
  width: 100%;
}
body .login .reg .lo .l_body .btn button,
body .login .reg .lo_1 .l_body .btn button {
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  border: 0;
  height: 35px;
  width: 100%;
  outline: none;
  background-color: #2a2d74;
}
body .login .reg .lo .l_body .btn button:hover,
body .login .reg .lo_1 .l_body .btn button:hover {
  background-color: #373a8b;
}
body .login .reg .lo .l_body .create,
body .login .reg .lo_1 .l_body .create {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  width: 100%;
  height: 40px;
  text-align: center;
}
body .login .reg .lo .l_body .create a,
body .login .reg .lo_1 .l_body .create a {
  color: #fff;
  text-decoration: none;
}
body .login .reg .lo .l_body .create a:hover,
body .login .reg .lo_1 .l_body .create a:hover {
  color: #ccc;
}
body .login .reg .lo_1 {
  opacity: 0;
  z-index: 5;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  right: -100px;
}
body .login .reg .lo {
  transition: all 0.5s;
  z-index: 9;
}
